/* Estilos generales de la página */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f4f6f9;
  color: #333;
}

header {
  background-color: #0070C0; /* Azul principal de ETB */
  color: white;
  padding: 1.5rem 1rem; /* Reducido un poco el padding */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1 {
  margin: 0;
  font-size: 2.2rem; /* Ajustado el tamaño de la fuente */
  font-weight: 700;
}

.api-links {
    background-color: #FFFFFF; /* Fondo blanco para los enlaces de las APIs */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.api-links a {
    color: #FF5722; /* Color naranja para los enlaces de las APIs, contrastando con el azul */
    text-decoration: none;
    font-weight: 600;
    margin: 0 15px;
    font-size: 1.1rem;
}

.api-links a:hover {
    color: #E64A19; /* Tono más oscuro al pasar el ratón */
    text-decoration: underline;
}

main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #0070C0; /* Azul principal de ETB */
  color: white;
  margin-top: 2rem;
}

/* Ajustes del contenedor de Swagger */
#swagger-ui {
  border-radius: 8px;
}

/* Estilos de Swagger UI para la marca ETB */
.swagger-ui .topbar {
  background-color: #003366; /* Un tono azul oscuro para la barra superior */
  border-bottom: 2px solid #0070c0; /* Un borde azul claro */
}

.swagger-ui .topbar a {
  color: #ffffff;
}

.swagger-ui .btn {
  background-color: #0070c0; /* Azul principal de la marca */
  border-color: #0070c0;
  color: #ffffff;
}
.swagger-ui .btn.authorize {
  background-color: #005a9c; /* Un azul ligeramente más oscuro para el botón de Autorizar */
  border-color: #005a9c;
}
.swagger-ui .opblock .opblock-summary-method {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #0070c0; /* Color de fondo de los verbos HTTP */
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
  background-color: #005a9c; /* Azul para POST */
}
.swagger-ui .opblock.opblock-put .opblock-summary-method {
  background-color: #004d80; /* Azul para PUT */
}
.swagger-ui .opblock.opblock-delete .opblock-summary-method {
  background-color: #003366; /* Azul para DELETE */
}
.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background-color: #0070c0; /* Azul para GET */
}