/* Colores de la barra superior */
.swagger-ui .topbar {
  background-color: #003366; /* Un tono azul oscuro para la barra superior */
  border-bottom: 2px solid #0070c0; /* Un borde azul claro */
}
/* El logo de Swagger se ocultó en la configuración del HTML, pero si lo tuvieras, este sería su color */
.swagger-ui .topbar a {
  color: #ffffff;
}

/* Colores de los botones y secciones principales */
.swagger-ui .btn {
  background-color: #0070c0; /* Azul principal de la marca */
  border-color: #0070c0;
  color: #ffffff;
}
.swagger-ui .btn.authorize {
  background-color: #005a9c; /* Un azul ligeramente más oscuro para el botón de Autorizar */
  border-color: #005a9c;
}
.swagger-ui .opblock .opblock-summary-method {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #0070c0; /* Color de fondo de los verbos HTTP */
}
/* Colores de los verbos HTTP */
.swagger-ui .opblock.opblock-post .opblock-summary-method {
  background-color: #005a9c; /* Azul para POST */
}

.swagger-ui .opblock.opblock-put .opblock-summary-method {
  background-color: #004d80; /* Azul para PUT */
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
  background-color: #003366; /* Azul para DELETE */
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
  background-color: #0070c0; /* Azul para GET */
}